<h2><%= @article['title'] || 'No Title' %></h2>
<p>By <%= @article['author'] || 'Unknown' %></p>
<img src="<%= @article['thumbnail'] %>" class="main-image" alt="<%= @article['title'] %>">

<div id="blog-content">
    <%= @article['content'] || 'No Content' %>
    <!-- The content will be replaced by the parsed Markdown -->
</div>

<p id="blog-date" style="opacity: 0.6;"><%= @article['created_at'] || '1999-10-12 09:14:44' %></p>

<a href="javascript:history.back()">Back to Blog</a>
